.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 30%;
}

.image-item img {
  height: 200px;
}

.image-item img:hover {
  box-shadow: 2px 2px 15px grey;
}
